* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
}
body {
	height: calc(100vh);
	width: calc(100vw);
	background-color: gray;
}
#github {
	padding: 0.2rem;
}
#content-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
}
#logo {
	align-self: center;
}

/*~~~~~~CLEAR*/
.clear {
	background-color: darkorange;
	color: black;	
}
#clear .fa {
	font-size: 200px;
}

/*~~~~~~RAIN*/
.rain {
	background-color: cadetblue;
	color:black;
}
/*rain cloud*/
#rain .fa-cloud {
	position: absolute;
	margin-left: -23px;
}
@media (max-width: 1970px) {
	#rain .fa-cloud {
	}
}
#rain .fa-tint {
	margin: 1rem auto;
	color: cornflowerblue;
	text-shadow: 1px 2px 0 black;
}
#rain .fa-tint {
	position: relative;
}



/*~~~~~~~CLOUDS*/
.clouds {
	background-color: gray;
	color: white;  
}

/*~~~~~~~~SNOW*/
.snow {
	background-color: slategray;
	color: deepskyblue;
}