* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
}
body {
	text-align: center;
	min-height: 100%;
	min-width: 100%;

	background-color: rgb(162, 192, 193);

}
#content-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
}
#clear .fa {
	font-size: 200px;
}


.rain {
	background: radial-gradient(rgb(100, 140, 169), #1C2261);
	background: -webkit-radial-gradient(rgb(100, 140, 169), #1C2261);
	color:yellow;
}
.clouds {
	background:radial-gradient(rgb(113, 113, 113), #424242);
	background: -webkit-radial-gradient(rgb(113, 113, 113), #424242);
	color: rgb(51, 66, 111); 
}
.clear {
	
}